# Entornos de desarrollo / IDE
.idea/
*.iml
*.iws
.settings/
.classpath
.project
bin/
.vscode/

# Compilados de Maven y Java
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Ocultos del SO
.DS_Store
Thumbs.db
